:root {
   --primary-color:#005a05; /* forest green */
   --secondary-color: #f4a261: /* warm sand */
   --accent1-color: #264653; /* dark slate blue */ 
   --accent2-color: #e9c46a; /* light golden yello */ 
   --heading-font: "Time New Romans". "Georgia", "serif";
   --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--body-font);
  
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: #070404;
    box-sizing: border-box;
    background-color: #ff0000;
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    }

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: darkslateblue;
    color: #fff;
}

article {
    position: absolute;
    top: 380px;
    color: #fff;
    background-color: darkslateblue;
}

.hero article img {
    float: right;
    width: 125px;
    border: #e9c46a;
    margin: 10px;
    box-shadow: rebeccapurple;
}

header img {
    width: 20%;
    height: auto;
    padding: 10px 20px;
}

footer nav a img {
    width: 25%;
    height: auto;
    
}

footer {
    border-top: rgb(16, 14,) solid;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: end;
    align-items: stretch;
}

nav li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
    border: rgb(182, 175, 175) solid;
}

header {
    background-color: rgb(16, 14, 14);
}

.grid-2 img {
    width: 225px;
    border: #e9c46a;
    padding: 0 0 0 30px;
    box-shadow: rebeccapurple;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.grid-3 img, .grid-6 img {
    width: 65%;
    border: #e9c46a;
    box-shadow: rebeccapurple;
}

.grid-3 figcaption, .grid-6 figcaption {
    font-size: 0.75rem;
    text-align:start;
    
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    order: 1;
    padding: 5px;
    margin: 0 45px
}

.flex {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(25, 20, 20);
    justify-items: center;
    color: #fff;
}

.contact {
    display: flex;
    flex-direction: column;
    color: black;
    text-align: center;
    font-size: small;
    font-weight: bold;
    position: relative;
    padding-top: 80px;
}

.contact h1 {
    position: absolute;
    background-color: white;
    color: black;
}

.contact p {
    margin-top: 0cap;
    margin-bottom: 0cap;
    padding: 0cap;
    background-color: #fff;
    color: black
}

.grid-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    order: 1;
    padding: 5px;
    margin: 0 45px
}

.grid-6 figcaption {
    text-align: center;
    padding-right: 75px;
}

.hero-1 {
    display: block;
    border: 1px solid rgba(165, 42, 42, 0.674);
    padding-left: 30px;
}

.hero-1 h2 {
    background-color: #fff;
}

form {
    display: grid;
    grid-template-columns: 15px 50px 15px 1fr;
    width: 450px;
    font-size: x-small;
    padding: 30px;
    padding-top: 5px;
    }

    .item-1 {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .item-2 {
        grid-column: 3/5;
        grid-row: 1/2;
    }

    .item-3 {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .item-4 {
        grid-column: 3/5;
        grid-row: 2/3;
    }

    .item-5 {
        grid-column: 1/3;
        grid-row: 3/6;
    }

    .item-6 {
        grid-column: 4/5;
        grid-row: 3/4;
        padding-top: 15px;
    }

    .item-7 {
        grid-column: 3/4;
        grid-row: 3/4;
        padding-top: 15px;
    }

    .item-8 {
        grid-column: 4/5;
        grid-row: 4/5;
    }
    .item-9 {
        grid-column: 3/4;
        grid-row: 4/5;
    }
    
    .item-10 {
        grid-column: 4/5;
        grid-row: 5/6;
    }

    .item-11 {
        grid-column: 3/4;
        grid-row: 5/6;
    }

    .item-12 {
        grid-column: 1/3;
        grid-row: 6/7;
    }

    .item-13 {
        grid-column: 1/5;
        grid-row: 7/8;
    }

    .item-14 {
        grid-column: 1/2;
        grid-row: 9/0;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .item-15 {
        grid-column: 2/5;
        grid-row: 8/9;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    button {
        grid-column: 1/5;
        grid-row: 9/10;
        background-color: rgb(206, 206, 233);
        text-transform: uppercase;
        font-weight: bold;
    }

    button:hover {
        background-color: rgb(164, 209, 209);
    }

form input {
    padding: 5px;
}

.gride-4 iframe {
    border-style: 0;
    box-shadow: none; 
}