:root {
    --background-color:darkblue;
    --color: white;
    --text-align: center;
    --font-size: large;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
nav {
    background-color: var(--background-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

nav a {
    color: var(--color);
    display: block;
    padding: 0.5px;
    text-decoration: none;
    background-color: rgb(21, 19, 19);
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    font-size: 1.1rem;
  
}

h1 {
    color: var(--background-color);
    border-bottom: solid gray;
    padding-top: 5px;
    
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

main p {
    padding: 15px;
    color: black;
}

main {
    max-width: 840px;
}

header, footer .grid {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}
    aside {
        grid-column: 1/2;
        grid-row: 1/2;
        position: relative;
    }
    main {
        grid-column: 2/3;
        margin: 1rem;
    }


aside {
    width: 20rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    text-align: var(--text-align)
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    left: 100px;
    font-size: small;
    }

footer {
    background-color: var(--background-color);
    border-top: 1px solid #000;
    text-align: var(--text-align);
    color: var(--color);
}

/* "Class Selectors" */
.box {
    margin: 1rem;
    padding: 1rem;
    font-size: var(--font-size);
    background-color: orange 
}

ul, li a {
    color: black;
}

